/*
Theme Name: Foreframe
Theme URI: https://foreframe.com/
Author: the Foreframe team
Author URI: https://Foreframe.com/
Template: twentysixteen
Description: Foreframe is a one simple page presentation theme.
Version: 0.0.1
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Tags: one-column, light, responsive-layout
Text Domain: foreframe

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.
*/

html, body, .site, .site-header, .site-content, .site-footer, .site-title, .site-description { 
  background: url(images/frames.jfif) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
    color: rgba(0,0,255,0.5);
}

.site-branding .site-title a {
	color: lightgoldenrodyellow;
    display: inline;
	position: relative;
	font: 200px Helvetica, Sans-Serif;
	letter-spacing: -5px;
	color: rgba(0,0,255,0.5); 
}
.site-title a:after {

	content: "FOREFRAME";

	position: absolute; left: 10px; top: 5px;

	color: rgba(255,0,0,0.5); 
}

.site-info,
.site-info a {
    color: rgba(255,0,0,0.5)!important; /* Make sure color schemes don't affect to print */
}

.site-content {
    display: none;
}

.site-footer {
	padding: 0 7.6923% 1.75em;
    padding-top: 20em;
}

.background-image {
    background: no-repeat center bottom scroll; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height: 150px;
    padding-top: 2%;
    font-size: 100%;
}
  


